<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DpaRep.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="DpaRep.My.MySettings.dparepConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Projetos\DpaRepPOO\atualizaBanco\Resources\dparep.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
  </connectionStrings>
  
   <system.net>
     <settings>
       <httpWebRequest useUnsafeHeaderParsing="true"/>
       
     </settings>
   </system.net>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <DpaRep.My.MySettings>
            <setting name="size" serializeAs="String">
                <value>1016, 773</value>
            </setting>
            <setting name="checkedVerao" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkPag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tabSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckedFechar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkExportaTudo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkDtFim" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="valueDtFim" serializeAs="String">
                <value>04/15/2014 11:51:24</value>
            </setting>
            <setting name="valueDtIni" serializeAs="String">
                <value>04/15/2014 11:37:10</value>
            </setting>
        </DpaRep.My.MySettings>
    </userSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Toolkit" publicKeyToken="a87e673e9ecb6e8e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.2.0" newVersion="4.3.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Navigator" publicKeyToken="a87e673e9ecb6e8e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.2.0" newVersion="4.3.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
